# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

# App
.env.*
!.env.example
postgres_data/
.env
server/vocabase.db
server/vocabase.db-*

# Bağımlılıklar
node_modules/
dist/

# Hassas Veriler ve Çevre Değişkenleri
.env
.env.local

# Sistem Dosyaları
.DS_Store
Thumbs.db